<link rel="stylesheet" href="css/create.css">
<p>create game</p>
<label for="gameName">Game Name</label>
<input type="text" id="gameName" placeholder="Enter a name for your game">
<button onclick="create()">Create Game</button>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io('/');
	socket.on('open', function(name){
		window.location.href = 'game/'+name;
	});
	socket.on('taken', function(){
		alert('this name is already taken!');
	})
	function create(){
		socket.emit('create', document.getElementById("gameName").value);
	}
</script>