<canvas id="game"></canvas>
<p>hej</p>

<script src="/socket.io/socket.io.js"></script>
<script>
	var link = '/game-<%= name %>';
	var socket = io(link);
	socket.on('hostLeft', function(){
		alert('Host left the game!');
		window.location.href = "/gameLoss";
	});
	setTimeout(function() {
		if(socket.disconnected){
			window.location.href = "/gameLoss";
		}
		else {
			console.log('connected to game');
		}
	}, 500);

</script>
<script src="js/lib.js"></script>
<script src="js/game.js"></script>