<link rel="stylesheet" href="css/game.css">
<canvas id="c"></canvas>
<p id="startCounter"></p>

<script src="/socket.io/socket.io.js"></script>
<script>
	var link = '/game-<%= name %>';
	var socket = io(link);

	
	setTimeout(function() {
		if(socket.disconnected){
			window.location.href = "/gameLoss";
		}
		else {
			console.log('connected to game');
		}
	}, 500);

	$(document).ready(function(){showPopup(3);});

</script>
<script src="js/clientSide.js"></script>
<script src="js/lib.js"></script>
<script src="js/Events.js"></script>
<script src="js/game.js"></script>
<script src="js/Bullet.js"></script>
<script src="js/Character.js"></script>
<script src="js/Player.js"></script>
<script src="js/Enemy.js"></script>