<link rel="stylesheet" href="css/popup.css">
<div id="popup" class="popup">
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <button type="button" onclick="hidePop()" class="close" aria-label="Close"><i class="fa fa-times"></i></button>
        <div><!-- errorMenu -->
            <p class="bg-danger"></p>
            <button class="btn btn-danger">Okay <i class="fa fa-frown-o"></i></button>
        </div>
        <div><!-- succesMenu -->
            <p class="bg-success"></p>
            <button class="btn btn-success" onclick="hidePop()">Okay <i class="fa fa-smile-o"></i></button>
        </div>
        <div><!-- pickName -->
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your name">
            <button class="btn btn-primary" onclick="connect()">Okay</button>
        </div>
    </div>
</div>
<div id="staticPopup" class="popup">
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <div><!-- winScreen -->
            <h3><span id="winner"></span> is the winner of this round!</h3>
            <section id="left">
                <img src="" alt="enemy cowboy"> <!-- enemy cowboy -->
                <p>Rangnar</p><!-- left name -->
            </section>
            <section id="right">
                <img src="" alt="player cowboy"> <!-- player cowboy -->
                <p>Lukas</p><!-- right name -->
            </section>
            <p id="timeLeft"></p>
        </div>
    </div>
</div>
<script src="js/popup.js"></script>