<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if(type == 'create') { %>
			<% include partials/create.html %>
		<% } %>

		<% if(type == 'game') { %>
			<% include partials/game.ejs %>
		<% } %>
		
		<% if(type == 'gameLoss') { %>
			<% include partials/gameLoss.html %>
		<% } %>
	</body>
</html>