extends template.pug
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.core.min.js")
  script(src="/js/event.js"   charset="utf-8")
  script(src="/js/util.js"    charset="utf-8")
  script(src="js/Bullet.js"   charset="utf-8")
  script(src="/js/dust.js"    charset="utf-8")
  script(src="/js/Bones.js"   charset="utf-8")
  script(src="/js/Body.js"    charset="utf-8")
  script(src="/js/Cowboy.js"  charset="utf-8")
  script(src="/js/Ragdoll.js" charset="utf-8")
  script(src="/js/main.js"    charset="utf-8")

block styles
  style(media="screen" type='text/css').
    canvas {
      position: absolute;
      top: 0;
      left: 0;

      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
