extends template.pug
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.core.min.js")
  script(src="/js/event.js"   charset="utf-8")
  script(src="/js/util.js"    charset="utf-8")
  script(src="js/Bullet.js"   charset="utf-8")
  script(src="/js/dust.js"    charset="utf-8")
  script(src="/js/Bones.js"   charset="utf-8")
  script(src="/js/Body.js"    charset="utf-8")
  script(src="/js/Cowboy.js"  charset="utf-8")
  script(src="/js/Ragdoll.js" charset="utf-8")
  script(src="/js/main.js"    charset="utf-8")
  script(src='/js/connect.js' charset='utf-8')
  script(src='/js/Peer.js'    charset='utf-8')
  script.
    const ID = '#{id}'

block styles
  link(rel='stylesheet' href='/css/main.css')
    
block content
  div.namePopup
    div
      input(type='text' placeholder='Bob Singer')
      button(onclick='NameClick()') start
  div.container
    section.A
      include sign.pug
    section.B
      include sign.pug
